@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes fade-in {
      from { opacity: 0; }
      to { opacity: 1; }
    }
    .animate-fade-in {
      animation: fade-in 1s ease-in;
    }
  
 .initial-hidden {
    opacity: 0;
}
.initial-hidden {
    opacity: 0;
}
}   

.clip-diamond {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.clip-pentagon {
  clip-path: polygon(
    50% 0%,
    100% 38%,
    82% 100%,
    18% 100%,
    0% 38%
  );
}
